name: Playwright Tests with Allure Report

on:
  workflow_dispatch

jobs:
  start:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pw-practice-app

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'  

      - name: Install dependencies
        run: npm ci --force

      - name: Install Allure CLI
        run: npm install -g allure-commandline           

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: DEV=1 npx playwright test usePageObject.spec.ts --project=chromium
        continue-on-error: true

      - name: Generate Allure report
        run: npx allure generate allure-results --clean -o allure-report

      - name: Upload Allure report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: pw-practice-app/allure-report 
